body {
  background-image: url("./bg.png");
}

.App {
  text-align: center;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

h2,
p {
  color: blueviolet;
}

.header {
  color: blueviolet;
  font-weight: 800;
  font-size: 28px;
}

.text-input {
  top: 35%;
  width: 50%;
  left: 25%;
}

#root {
  height: 100vh;
}
